<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GDB – Gin</title>
  <link rel="stylesheet" href="gdb_gin.css">
  <link rel="stylesheet" href="../../gdb_stars.css">
  <link rel="stylesheet" href="../../gdb_stockbar.css">
  <link rel="stylesheet" href="../../gdb_pli.css">
  <link rel="stylesheet" href="../../gdb_components.css">
</head>

<body class="dark">
  <div id="content" class="grid listview"></div>

  <!-- Popups werden im Parent (gdb_index.html) gerendert -->

  <script type="module" src="gdb_gin.js"></script>

<!-- globales Verdunkeln bei geöffnetem Popup -->
<div id="globalOverlay" aria-hidden="true"></div>

</body>
</html>
